.main-title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
	margin-top: 40px;
    margin-bottom: 40px;
	color: #333;
}


.card {
	border-radius: 25px;
}

.card-img-top {
    border-radius: 25px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    max-width: 100%; 
    height: auto;
    
}



.main-timeline-2 {
	position: relative;
}

.main-timeline-2::after {
	content: "";
	position: absolute;
	width: 3px;
	background-color: #000;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
/* #26c6da  */

.timeline-2 {
	position: relative;
	background-color: inherit;
	width: 50%;
}

.timeline-2::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -11px;
	background-color: #000;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.left-2 {
	padding: 0px 40px 20px 0px;
	left: 0;
}

.right-2 {
	padding: 0px 0px 20px 40px;
	left: 50%;
}



.right-2::before {
	left: 30px;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right-2::after {
	left: -14px;
}

@media screen and (max-width: 600px) {
	.main-timeline-2::after {
		left: 31px;
	}

    .card-img-top {
        width: 100%; 
        height: auto;
    }

	.timeline-2 {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.left-2::after,
	.right-2::after {
		left: 18px;
	}

	.left-2::before {
		right: auto;
	}

	.right-2 {
		left: 0%;
	}
}


.profile-section {
	display: flex;
	justify-content: center;
	margin-top: 40px;
    margin-bottom: 50px;
}

.profile-card {
	width: 150px;
	margin: 0 20px;
	text-align: center;
}

.profile-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 3px solid #000;
}

.profile-desc {
	font-size: 0.9rem;
	color: #555;
}


.footer {
    background-color:  #F0F2F5;
}
